* {
    box-sizing: border-box;
}

html, body {
    margin:0;
    padding:0;
    height:100%;
}

#clear {
    clear: both;
}

/* Heading style */


#title {
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    margin: 5px 0;
    width: 100%;
    height: 15%;
    background-color: lightskyblue;
    text-align: center;
    align-content: center;
    z-index: 10;
    text-transform: uppercase;
    font-family: "Jersey 25", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 72px;
}


/* body style */


body {
    background-image: url("http://3.bp.blogspot.com/-aNRb0w9Uu2E/Uk0w1v9lXjI/AAAAAAAAHrM/RipxfZqlQQ4/s1600/Texture-Backgrounds-Wallpaper-HD.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}


/*Container style */


#container {
    margin-top: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#board {
    min-width: 800px;
}



/* Row style */

.row {
    margin-left: 10%;
    margin-right: 10%;
}




/* Cells style */

.white, .black {
    border: 1px solid black;
    width: 12.5%;
    height: 60px;
    float: left;
}

.white {
    background-color: white;
}

.black {
    background-color: lightgrey;
}

img {
    height: 50px;
    margin-left: 15px;
    margin-top: 5px;
}


/* Footer style */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    border: solid 1px;
    background-color: lightblue;
}

#footer {
    text-align: center;
    margin: 5px auto;
}

footer p {
    display: inline-block;
}

